node_modules/
dist/
backend/dist/
frontend/dist/
frontend/dev-dist/
.env
backend/.env
backend/*.db
backend/*.db-journal
backend/prisma/*.db
backend/prisma/*.db-journal
data/
backend/data/
uploads/
backend/uploads/
whatsapp-auth/
backend/whatsapp-auth/

._*
.vercel
.koyeb
.idea
.vscode
